.changeParrafo {
    font-size: 25px;      
    font-family: 'Roboto Mono', monospace;
    color: white;
    
}
.button {
    font-size: 20px;  
    text-align: center;
    background: #d0d0ed ;    
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    border-color: black;
    box-shadow: 2px;
}